html, body {
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
}
svg {
  display: block;
  width: 100%;
  height: 100%;
}

rect {
  z-index: 9999;
}

.hover {
  stroke: red;
  
 }

text {
  pointer-events: none;
}

#view{
  position:relative;
  margin-left:510px;
  font-size:20px;
  margin-top:-585px;
  font-weight: bold;
  color:#cc3300;
  
  
}

form {
  display: block;
  position:absolute;
  margin-left:990px;
}

form h4 {
  color: #00f;
}

form label, form input {
  display: block;
}
#width, #height, #rLeft, #rTop{
  display:inline;
  
}
#box{
  background-color: lightgrey;
  padding-left: 25px;
  padding-bottom: 20px;
  padding-top:2px;
  width: 100%;
  height: 100%;
}

