/* 
    Document   : myTasks.css
    Created on : May 1, 2014, 2:17:44 PM
    Author     : V113274
    Description:
        Purpose of the stylesheet follows.
*/

body {
    /*overflow-x: auto;*/
    overflow:hidden;
}

.order_details_panel {
    width: 99%;
}
.link-bar {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}
.link-bar a {
    text-decoration: none;
    letter-spacing: 1px;
    width: 14%;
    display: inline-block;
    color:white;
    text-align:center;
    background-color: #890000;
}
.link-bar a:hover {
    text-decoration: underline;
}
.link-bar a.selected {
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
}

.icon-grid-open {
    background-image: url('../../vzwebkit/images/grip-drawer-open-close-sprite.png');
    background-position: 1px 0px;
    position: absolute;
    right: 15px;
    left: 24px;
    width: 12px;
    margin: auto;
    top: 4px;
    bottom: 5px;
    cursor: pointer;
}
.icon-grid-open:hover {
    background-position: -12px 0px;
}

.icon-grid-close {
    background-image: url('../../vzwebkit/images/grip-drawer-open-close-sprite.png');
    background-position: 0px -23px;
    position: absolute;
    right: 15px;
    left: 24px;
    width: 12px;
    margin: auto;
    top: 4px;
    bottom: 5px;
    cursor: pointer;
}
.icon-grid-close:hover {
    background-position: 0px -37px;
}
.vzuui-om-menu {
    width: 16px;
    height: 22px;
    background: url('../../vzwebkit/images/actions-context-menu.png') no-repeat scroll 0px center #FFF;
    position: absolute;
    top: 1px;
    left: 22px;
    padding-left: 4px;
    padding-top: 7px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #CDCDCD;
    z-index: 100;
}

.vzuui-om-dropdown {
    position: absolute;
    background: none repeat scroll 0% 0% #FFF;
    left: 40px;
    top: 2px;
    width: 140px;
    display: none;
    z-index: 100;
    
    
    
}
    
.vzuui-om-dropdown ul {
        border: 1px solid #CDCDCD;
        border-top: none;
}
    
.vzuui-om-dropdown ul li {
        height: 24px;
        border-top: 1px solid #cdcdcd;
        padding: 5px;
}  
    
.vzuui-om-dropdown ul li a {
      display: block;
      text-decoration: none;
      color: #333;
      word-spacing: normal;
}

.vzuui-om-dropdown ul li a:hover {
    font-weight: bold;
}


.vzuui-om-dropdown ul li:nth-child(2n) {
    background-color: #F2F2F2;
}


#container > .vgrid-head {
    position:relative;
}

#container {
    top:0px;
    /*width:96%;*/
    width:100%;
    height: auto;
    /*margin: 12px 2% 0px 2%;*/
    overflow:hidden;
}
#container > .vgrid-body {
    /*height: 300px;*/
    /*min-height: 175px;*/
   /* overflow-x: auto;    
    overflow-y: auto;*/
    overflow:auto;
}

#container > .vgrid-body {
    display:block;
}
#container > .vgrid-body > .vgrid-row > .vgrid-row-body {
    display:block;
    /*height: 350px;*/
}

#container > .vgrid-body > .vgrid-row > .vgrid-column, #container > .vgrid-head > .vgrid-column {
    text-align: left;
}

.vgrid-selector {
    display: inline-block;
    position: relative;
    padding-left: 3px;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    width: 48px;
    height: 24px;
}



.header-tooltipDiv {
    border: 1px solid #B1B1B1;
    display: inline-block;
    border-radius: 2px;
    padding: 0px;
    background-color: #fff;
    position: absolute;
    display: none;
    white-space: nowrap;
    z-index: 10000;
}

.header-tooltipDiv li {
    background-color: #FFF;
    padding: 2px;
    padding-left: 5px;
    list-style: none;
    cursor: pointer;
}

.header-tooltipDiv li:hover {
    background-color: #eeeeee;
}
.header-tooltipDiv li:nth-child(even) {
    background-color: #F2F2F2;
}

.activetasks-body{
    height:auto;
    padding:0px;
}

.card-ribbon-section{
    height:auto;
}


.vzuui-main-menu li a {
margin: 1.5em .5em 0;
display: block;
color: #000;
text-decoration: none;
font-family: "VerizonApexBook",Arial;
font-size: 17px;
font-weight: normal;
text-transform: uppercase;
padding: 10 2px 5px;
}

.count-selected{
    text-decoration:underline;
}

