.vzuui-form input {
	margin-left: 0 !important;
}
 .labelclass{
	padding:5px !important;
	position:relative !important;
	margin-left:0px !important;
	} 

 .vzuui-form select.textfield{
font-size:15px !important;	
	
}	
fieldset#fset{
	display: inline-block !important;
}
.rackSpecification {
	-webkit-column-count: 2; Chrome, Safari, Opera
	-moz-column-count: 2; Firefox
	column-count: 2;
}
.vzuui-form form-body vzuui-grid-col-1 {
	border: 1px solid lightgrey !important;
}
    
    .wrapper1 {
    text-align: center;
}

.vzuui-btn-gray-active closeedit {
    position: absolute !important;
    top: 50% !important;
}
    
    .vzuui-form input, select{
    margin-right:4px !important;
     
    
    }
    
    .closeedit, .cancelmode{
    height:34px !important;
    } 
    
    h1{
    color:black !important;
    }
    

   table.dataTable thead th, table.dataTable thead td{
 
  border-bottom:0px !important;
  
  } 
 
  .radio-container{
  padding:3px !important;
  }
  
  .content {
	display: none;
}
.data {
    
    white-space:nowrap;
}
.unit-rckcreate  {
    margin-top:7px;
    display:inline-block;
}
.unit1-rckcreate  {
   margin-top:7px;
    display:inline-block;
}


#title h4 {
	display: inline;
}

.vzuui-btn-gray-active closeedit{
height:10px !important;
}

.hl1 {
	position:relative;
	border: 0;
	height: 1px;
	width:75%;
	margin-top:-5px !important;
	background: #333;
	box-shadow: 1px 0px 2px grey;
	
}
 .box {
    width: auto;
    padding: 10px;
    padding-bottom:20px;
    padding-top:0px;
    border: 2px solid lightgrey;
    margin: 0px;
    border-radius:6px;
   
}

.vzuui-data-div vzuui-grid-row{
	
	height:21px !important;
}

#myForm_Rackcreate{
  position:absolute;
  width:60%;
  height:60%;
  background-color: #fff;
  margin-left:800px;
}

 input[type="text"]:disabled{background-color:#f9f9f9;}
 
 select:disabled{background-color:#f9f9f9;}
 
 /*#myForm_Rackcreate{
   background-color: #fff;
   position:relative;
   margin-left:900px;
 }
 */
 svg {
  display: block;
  width: 100%;
  height: 100%;
}

div.wrapper{
  width: 100%;
  height: 100%;
}

#view{
  position:relative;
  margin-left:510px;
  font-size:20px;
  margin-top:-585px;
  font-weight: bold;
  color:#cc3300;
   
}

 
